
.s-menu{
	width: 260px;
	border-radius: 12px;
	margin: 10px 0;
	padding: 18px 30px;
	background: #222222;
}
.flex-smenu{
	display: flex;
	align-items: center;
}
.ver-flex{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.s-nav1{
	max-height: 1080px;
	height: 100%;
	width: 320px;
	position: fixed;
	top: 0;
  	left: 0;
	background: #222222;
	padding: 40px 30px;
	z-index: 1;
	overflow-x: hidden;
}
.s-tit{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.s-tit1{
	font-size: 24px;
	color: #FFFFFF;
}
.des1{
	font-weight: bolder;
}
.menu3{
	margin-top: 105px;
}

.menu3-edit{
	margin-left: 20px;
	color: #FFFFFF;
	font-size: 16px;
}
.member-sd{
	display: flex;
	align-items: center;
}
.sd-following{
	align-items: flex-start;
	padding: 50px 30px 0;
}
.member-sd{
	display: flex;
	margin: 20px 0;
}
.memreb-img{
	margin-right: 22px;
}
.memreb-img:hover{
	width: 60px;
	height: 60px;
}
.follow{
	margin-bottom: 20px;
	color: #FFFFFF;
	font-size: 12px;
}
.load{
	margin-top: 10px;
}
.member-edit{
	color: #FFFFFF;
	font-size: 16px;
}
.load-txt{
	color: #FFFFFF;
	font-size: 16px;
}
.sd-box:hover{
	background: #FF2288;
}
.bb:hover ~ .member-edit{
	color: #FF2288;
}
.load-txt:hover{
	color: #FF2288;
}
/* bar menu */
.top-bar{
	position: fixed;
	width: 85%;
	top: 0;
  	left: 320px;
  	z-index: 1;
	height: 117px;
	padding: 30px 90px 30px 40px;
	display: flex;
	flex-wrap: nowrap;
}
.search{
	width: 25%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.search-icon{
	width: 30px;
	height: 30px;
}
.search input[type=text]{
	padding: 19px;
	border: none;
	border-radius: 12px;
	width: 90%;
	font-size: 14px;
}
.icons{
	width: 25%;
	margin-left: 45%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.dot-circle{
	display: flex;
	justify-content: flex-end;
}
.icons-txt{
	font-size: 14px;
	color: #FF2288;
}
.upload{
	width: 129px;
	border-radius: 12px;
	padding: 20px 40px;
	background: #FF2288;
}
.upl-txt{
	font-size: 14px;
	color: #FFFFFF;
}
.first-section1{
	width: 64%;
	margin-top: 150px;
	margin-left: 25%;
}
.first-section{
	width: 64%;
	margin-top: 2px;
	margin-left: 25%;
	}
.nav-bar{
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.nav-bar-ul{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.nav-bar-li{
	border-radius: 12px;
	padding: 20px;
}
.nav-bar-li:hover{
	background-color: #F2F2F2;
}
.t{
	font-size: 16px;
	color: #222222;
	font-weight: bold;
}
.filters{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-radius: 12px;
	padding: 20px;
}
.filters:hover{
	background-color: #F2F2F2;
}
.filters-icon{
	margin-right: 20px;

}
.filters-txt{
	font-size: 16px;
	color: #222222;
	font-weight: bold;
}
.picture-content{
	display: flex;
	flex-wrap: wrap;
	height: 700px;
	margin-top: 40px;
	justify-content: space-between;
}
/*  lists */
.table-section{
	margin-left:300px;
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
}
.teble-content{
	width: 100%;
	padding: 20px 12%;
}
.colorfff{
	color: #FF2288;
}
.table{
	height: 80vh;
	width: 100%;
	border-collapse: collapse;
}
.table td, .table th{
	padding: 20px 50px;
	border-bottom: 1px solid #E7E7E7;
	text-align: left;
	font-size: 16px;
}
.table thead:hover{
	background-color: #F2F2F2;
}
.table tbody tr:hover{
	background-color: #F2F2F2;
}
#order{
	padding-left: 0;
}
.footer-container{
	width: 100%;
	padding-left: 25%;
	display: flex;
	flex-wrap: nowrap;
}
.footer-content{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding-top: 100px;
}
.ft-column{
	width: 20%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.ft-title{
	font-size: 16px;
	color: #222222;
	margin-bottom: 35px;
}
.ft-txt{
	font-size: 16px;
	color: #222222;
	margin-bottom: 20px;
}
.footer-logos{
	width: 100%;
	height: 25px;
	margin-top: 5%;
	padding-right: 5%; 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.soc-logos{
	padding: 0 26% 5px;
}
.a-logos{
	margin-right: 15px;
}
.foot-p{
	font-size: 16px;
	color: #222222;
}
.foot-span{
	font-weight: bolder;
	color: #222222;